.m-1 {
  margin: 1rem;
}
.my-1 {
  margin: 1rem 0;
}
.p-1 {
  padding: 1rem;
}
.py-1 {
  padding: 1rem 0;
}
.m-2 {
  margin: 2rem;
}
.my-2 {
  margin: 2rem 0;
}
.p-2 {
  padding: 2rem;
}
.py-2 {
  padding: 2rem 0;
}
.m-3 {
  margin: 3rem;
}
.my-3 {
  margin: 3rem 0;
}
.p-3 {
  padding: 3rem;
}
.py-3 {
  padding: 3rem 0;
}
.m-4 {
  margin: 4rem;
}
.my-4 {
  margin: 4rem 0;
}
.p-4 {
  padding: 4rem;
}
.py-4 {
  padding: 4rem 0;
}
.m-5 {
  margin: 5rem;
}
.my-5 {
  margin: 5rem 0;
}
.p-5 {
  padding: 5rem;
}
.py-5 {
  padding: 5rem 0;
}
/* .container {
  max-width: 2200px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
} */
.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}
.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}
.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.text-primary {
  color: #17a2b8;
}
.round-img {
  border-radius: 50%;
}
.line {
  height: 1px;
  background: #ccc;
  margin: 1.5rem 0;
}
.bg-primary {
  background-color: #17a2b8;
  color: #fff;
}
.bg-light {
  background-color: #f4f4f4;
  color: #333;
  border: #ccc 1px solid;
}
.bg-dark {
  background-color: #343a40;
  color: #fff;
}
.bg-success {
  background-color: #28a745;
  color: #fff;
}
.bg-danger {
  background-color: #dc3545;
  color: #fff;
}
.bg-white {
  background-color: #fff;
  color: #333;
  border: #ccc 1px solid;
}
.btn {
  display: inline-block;
  background: #f4f4f4;
  color: #333;
  padding: 0.4rem 1.3rem;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  margin-right: 0.5rem;
  outline: none;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.btn.btn-primary {
  background-color: #17a2b8;
  color: #fff;
}
.btn.btn-primary:hover {
  background: #1ab6cf;
}
.btn.btn-dark {
  background-color: #343a40;
  color: #fff;
}
.btn.btn-dark:hover {
  background: #3f474e;
}
.btn.btn-success {
  background-color: #28a745;
  color: #fff;
}
.btn.btn-success:hover {
  background: #2dbc4e;
}
.btn.btn-danger {
  background-color: #dc3545;
  color: #fff;
}
.btn.btn-danger:hover {
  background: #e04b59;
}
.btn:hover {
  background: #626d78;
  color: #fff;
}
.alert {
  padding: 0.8rem;
  margin: 1rem;
  opacity: 0.9;
  background: #f4f4f4;
  color: #333;
}
.alert.alert-primary {
  background-color: #17a2b8;
  color: #fff;
}
.alert.alert-dark {
  background-color: #343a40;
  color: #fff;
}
.alert.alert-success {
  background-color: #28a745;
  color: #fff;
}
.alert.alert-danger {
  background-color: #dc3545;
  color: #fff;
}
.badge {
  font-size: 0.8rem;
  padding: 0.1rem;
  text-align: center;
  margin: 0.3rem;
  background: #f4f4f4;
  color: #333;
}
.badge.badge-primary {
  background-color: #17a2b8;
  color: #fff;
}
.badge.badge-dark {
  background-color: #343a40;
  color: #fff;
}
.badge.badge-success {
  background-color: #28a745;
  color: #fff;
}
.badge.badge-danger {
  background-color: #dc3545;
  color: #fff;
}
.dark-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}
/* .table th,
.table td {
  padding: 1rem;
  text-align: left;
}
.table th {
  background: #f4f4f4;
} */
.table-shiftRegister th {
  padding: 1rem;
  text-align: left;
}
.table-shiftRegister td {
  padding: 0.5rem;
  text-align: left;
  border: 2px solid #00ff00;
}
.table-shiftRegister th {
  background: #f4f4f4;
}
/* .form-group {
  margin: 1.2rem 0;
} */
.form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}
.form input[type="text"],
.form input[type="email"],
.form input[type="password"],
.form input[type="date"],
.form select,
.form textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 0.8rem;
  border: 1px solid #ccc;
}
.form input[type="submit"] {
  font: inherit;
}
.form .social-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.form .social-input i {
  padding: 0.5rem;
  width: 4rem;
}
.form .social-input i.fa-twitter {
  color: #38a1f3;
}
.form .social-input i.fa-facebook {
  color: #3b5998;
}
.form .social-input i.fa-instagram {
  color: #3f729b;
}
.form .social-input i.fa-youtube {
  color: #c4302b;
}
.form .social-input i.fa-linkedin {
  color: #0077b5;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}
a {
  text-decoration: none;
  color: #17a2b8;
}
ul {
  list-style: none;
}
img {
  width: 100%;
}
.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0.7rem 2rem;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  border-bottom: solid 1px #17a2b8;
  opacity: 0.9;
}
.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.navbar a {
  color: #fff;
  padding: 0.45rem;
  margin: 0 0.25rem;
}
.navbar a:hover {
  color: #17a2b8;
}
.landing {
  position: relative;
  background: url("./img/showcase.jpg") no-repeat center center/cover;
  height: 100vh;
}
.landing-inner {
  color: #fff;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 80%;
  margin: auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}
.profile {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 4fr 2fr;
  grid-template-columns: 2fr 4fr 2fr;
  grid-gap: 2rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 1rem;
  line-height: 1.8;
  margin-bottom: 1rem;
}
.profile-grid {
  display: -ms-grid;
  display: grid;
  grid-template-areas: "top top" "about about" "exp edu" "github github";
  grid-gap: 1rem;
}
.profile-grid .profile-top {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: top;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}
.profile-grid .profile-top img {
  width: 250px;
}
.profile-grid .profile-top .icons a {
  color: #fff;
  margin: 0 0.3rem;
}
.profile-grid .profile-top .icons a:hover {
  color: #343a40;
}
.profile-grid .profile-about {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: about;
  text-align: center;
}
.profile-grid .profile-about .skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}
.profile-grid .profile-exp {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: exp;
}
.profile-grid .profile-edu {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: edu;
}
.profile-grid .profile-exp > div,
.profile-grid .profile-edu > div {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: #ccc 1px dotted;
}
/* .profile-grid .profile-exp:last-child,
.profile-grid .profile-edu:last-child {
  border: none;
} */
.profile-grid .profile-exp p,
.profile-grid .profile-edu p {
  margin: 0.5rem 0;
}
.profile-grid .profile-github {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: github;
}
.profile-grid .profile-github .repo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.profile-grid .profile-github .repo > div:first-child {
  -webkit-box-flex: 7;
  -ms-flex: 7;
  flex: 7;
  -ms-flex-preferred-size: 70%;
  flex-basis: 70%;
}
.profile-grid .profile-github .repo > div:last-child {
  -webkit-box-flex: 3;
  -ms-flex: 3;
  flex: 3;
  -ms-flex-preferred-size: 20%;
  flex-basis: 20%;
}
.post-form-header {
  padding: 0.5rem;
}
.post {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4fr;
  grid-template-columns: 1fr 4fr;
  grid-gap: 2rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.post > div:first-child {
  text-align: center;
}
.post img {
  width: 150px;
}
@media (max-width: 750px) {
  .hide-sm {
    display: none;
  }
  /* .container {
    margin-top: 8rem;
  } */
  .x-large {
    font-size: 3rem;
  }
  .large {
    font-size: 2rem;
  }
  .lead {
    font-size: 1rem;
  }
  .navbar {
    display: block;
    text-align: center;
  }
  .navbar ul {
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .navbar h1 {
    margin-bottom: 1rem;
  }
  .dash-buttons a {
    display: block;
    width: 100%;
    margin-bottom: 0.2rem;
  }
  .profile {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    text-align: center;
  }
  .profile ul {
    display: none;
  }
  .profile-grid {
    grid-template-areas: "top" "about" "exp" "edu" "github";
  }
  .profile-about .skills {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .post {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .post a,
  .post button {
    padding: 0.3rem 0.4rem;
  }
}

/* Start flex table shift register */

/* End flex table shift register */

* {
  box-sizing: border-box;
}
.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 1em auto;
  padding: 1em;
}
.is-striped {
  background-color: rgba(233, 200, 147, 0.2);
}
/* Table column sizing
 ================================== */
.date-cell {
  width: 20%;
}
.monday-cell {
  width: 10%;
  display: flex;
  align-items: center;
}
.tuesday-cell {
  width: 10%;
  display: flex;
}
.wednesday-cell {
  width: 10%;
  display: flex;
}
.thursday-cell {
  width: 10%;
  display: flex;
}
.friday-cell {
  width: 10%;
  display: flex;
}
.saturday-cell {
  width: 10%;
  display: flex;
}
.sunday-cell {
  width: 10%;
  display: flex;
}
.action-cell {
  width: 10%;
  display: flex;
}
.personInShift-cell {
  width: 10%;
}
.header-cell-1 {
  width: 10%;
}
.header-cell-allnot1 {
  width: 10%;
}
.boder-cell {
  border: 2px solid #c3c3c3;
  border-radius: 5px;
}
/* .topic-cell {
  width: 41%;
} */
/* .access-link-cell {
  width: 13%;
} */
/* .replay-link-cell {
  width: 13%;
}
.pdf-cell {
  width: 13%;
} */
/* Apply styles
 ================================== */
.Rtable {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 3em 0;
  padding: 0;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
}
.Rtable .Rtable-row {
  width: 100%;
  display: flex;
}
.Rtable .Rtable-row .Rtable-cell {
  box-sizing: border-box;
  flex-grow: 1;
  /* padding: 0.8em 0.5em; */
  overflow: hidden;
  list-style: none;
}
.Rtable .Rtable-row .Rtable-cell.column-heading {
  background-color: #43bac0;
  color: white;
  padding: 1em;
}
.Rtable .Rtable-row .Rtable-cell .Rtable-cell--heading {
  display: none;
}
.Rtable .Rtable-row .Rtable-cell .Rtable-cell--content a {
  font-size: 1em;
  color: #333;
}
.Rtable .Rtable-row .Rtable-cell .Rtable-cell--content .webinar-date {
  font-weight: 700;
}
/* Responsive
 ==================================== */
@media (max-width: 750px) {
  .is-striped {
    background-color: white;
  }
  .Rtable--collapse {
    display: block;
    width: 100%;
    padding: 1em;
    box-shadow: none;
  }
  .Rtable--collapse .Rtable-row {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2em;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  }
  .Rtable--collapse .Rtable-row .Rtable-cell {
    width: 100% !important;
    display: flex;
    align-items: center;
  }
  .Rtable--collapse .Rtable-row .Rtable-cell .Rtable-cell--heading {
    display: inline-block;
    flex: 1;
    max-width: 120px;
    min-width: 120px;
    color: #43bac0;
    font-weight: 700;
    border-right: 1px solid #ccc;
    margin-right: 1em;
  }
  .Rtable--collapse .Rtable-row .Rtable-cell .Rtable-cell--content {
    flex: 2;
    padding-left: 1em;
  }
  .Rtable--collapse .topic-cell {
    background-color: #43bac0;
    color: white;
    font-weight: 700;
    order: -1;
  }
  .Rtable--collapse .topic-cell .Rtable-cell--content {
    padding-left: 0 !important;
  }
  .Rtable--collapse .Rtable-row--head {
    display: none;
  }
}
.no-flexbox .Rtable {
  display: block;
}
.no-flexbox .Rtable.Rtable-cell {
  width: 100%;
}

